.zylMarTop{margin-top: 10px;}







/************** 字体图标   *****************/
.icon {width: 1.2em;height: 1.2em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}

/******************************* 全局滚动条配置 ******************************/
/* chrome滚动条样式 */
::-webkit-scrollbar{width:0px; height: 0px;}/* 滚动条宽度 */
::-webkit-scrollbar-track{background-color:#0084b5;}/* 滚动条背景色 */
::-webkit-scrollbar-thumb{background-color:#0084b5;}/* 滚动条颜色 */
::-webkit-scrollbar-thumb:hover {background-color:#C5C7CA}/* 滚动条hover颜色 */
::-webkit-scrollbar-thumb:active {background-color:#C5C7CA}/* 滚动条active颜色 */
/* IE/火狐滚动条样式 */
html{
	-ms-overflow-style:none;/* IE */
	scrollbar-width: none;/* 火狐 */
}

/* 隐藏百度地图logo */
.anchorBL{display:none;}