<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.redis01.dao.SysUserDao">

    <!--开启mybatis二级缓存-->
<!--    <cache/>-->

    <!--开启自定义redis缓存-->
    <cache type="com.study.redis01.cache.RedisCache"/>

    <select id="findAll" resultType="com.study.redis01.entity.SysUser">
        select * from SYS_USER
    </select>

    <insert id="save" parameterType="com.study.redis01.entity.SysUser">
        insert into SYS_USER values (#{username}, #{password})
    </insert>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from SYS_USER where id = #{id}
    </delete>

    <select id="findUserRole" resultType="com.study.redis01.entity.SysUser">
        select u.*, r.role_Name as roleName from sys_user u left join sys_user_role ur on u.id = ur.uid left join sys_role r on ur.rid = r.id
    </select>
</mapper>